replicas: 1
image:
  repository: 085952855746.dkr.ecr.ap-northeast-2.amazonaws.com/github-action-test
  tag: 1.0.2
  imagePullSecrets:
    - name: ecr-cred
service:
  type: NodePort
  protocol: TCP
  targetPort: 8080
  port: 8080
  nodePort: 31080
ingress:
  enabled: false
